
  body {      
   
   background-image: url("/jogo_da_memoria/img/liga.png");
   background-position: 0 50%;
   background-size: cover;
   background-position:absolute;
  }
  /* body {
    display: table;
    width: 100%;
    padding: 40px;
    background: url(/img/liga.jpg);
    background-position: 0 30%;
    background-size: cover;
  }
 */
