
  body {      
   background-color: lightgray;
   background: url("/img/liga.png");
   background-position: 0 30%;
   background-size: cover;
   background-position:absolute;
  }
  /* body {
    display: table;
    width: 100%;
    padding: 40px;
    background: url(/img/liga.jpg);
    background-position: 0 30%;
    background-size: cover;
  }
 */
